<meta charset="utf-8" >

<title><%= siteTitle %></title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="<%= themeConfig.domain %>/media/styles/fontawesome.min.css">
<link rel="shortcut icon" href="<%= themeConfig.domain %>/favicon.ico?v=<%= site.utils.now %>">
<link rel="stylesheet" href="<%= themeConfig.domain %>/styles/main.css">

<% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
  <% if (commentSetting.commentPlatform === 'gitalk') { %>
    <link href="https://cdn.bootcdn.net/ajax/libs/gitalk/1.6.2/gitalk.min.css" rel="stylesheet">
  <% } %>

  <% if (commentSetting.commentPlatform === 'disqus') { %>
    <link rel="stylesheet" href="https://unpkg.com/disqusjs@1.1/dist/disqusjs.css" />
  <% } %>
<% } %>

<link href="https://cdn.bootcdn.net/ajax/libs/animate.css/4.1.0/animate.min.css" rel="stylesheet">
<style>
:root {
  --animate-duration: 800ms;
}
</style>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.min.js"></script>

<% if (site.customConfig.ga) { %>
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= site.customConfig.ga %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<%= site.customConfig.ga %>');
</script>
<% } %>
