<!DOCTYPE html>
<html>
  <head>
    <%- include('./_blocks/head', { siteTitle: themeConfig.siteName }) %>
    <meta name="description" content="<%= themeConfig.siteDescription %>">
    <% if (site.customConfig.renderKaTeX) { %>
      <link href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.js"></script>
    <% } %>
  </head>
  <body>
    <div id="app" class="main">

      <%- include('./_blocks/header') %>

      <div class="main-container">
        <div class="content-container animate__animated animate__fadeInUp">
          <% posts.forEach(function(post) { %>
            <article class="post-item">
              <div class="left">
                <a href="<%= post.link %>">
                  <h2 class="post-title"><%= post.title %></h2>
                </a>
                <div class="post-date-tag">
                  <div class="post-date">
                    <%= post.dateFormat %>
                  </div>
                  <% if (post.tags.length > 0) { %>
                    <div class="tag-container">
                      <% post.tags.forEach(function(tag, index) { %>
                        <a href="<%= tag.link %>" class="tag">
                          <%= tag.name %>
                        </a>
                      <% }); %>
                    </div>
                  <% } %>
                </div>
                <div class="post-abstract">
                  <%- post.abstract %>
                </div>
              </div>
              <% if (themeConfig.showFeatureImage && post.feature) { %>
                <a class="right" href="<%= post.link %>">
                  <div class="feature-container" style="background-image: url('<%= post.feature %>')">
                  </div>
                </a>
              <% } %>
            </article>
          <% }); %>

          <%- include('./_blocks/pagination') %>
        </div>
      </div>

      <%- include('./_blocks/footer') %>

    </div>

    <%- include('./_blocks/scripts') %>
  </body>
</html>
